---
layout: default
title: UX
---


<div class="row alternate">
    <div class="img-left">
        <div class="image resize">
            <img alt="screenshot of disney 8 website featuring the mixr8r" src="/images/work/mixr8r.png">
        </div>
        <div class="copy">
            <h3>Disney MiXR8R</h3>
            <p>A website where Disney employees could learn about available collaboration options. I built a decision-making tool called MiXR8R—just enter your collaboration criteria, and MiXR8R helps you decide!</p>
        </div>
    </div>
</div>

<div class="row secondary">
    <div class="img-right">
        <div class="image resize">
            <img alt="screenshot of Linky, and online bookmarking site" src="/images/work/my_linky.png">   
        </div>
        <div class="copy">
            <h3>LiNKY</h3>
            <p>Online bookmarking and sharing site lets you save, share and organize weblinks by categories for fast retrieval anywhere.</p>      
        </div>
    </div>
</div>

<div class="row inverse">
    <div class="img-center">
        <div class="image">
            {% include avatar.html %}
        </div>
        <div class="copy">
            <h2>Let's Connect.</h2>
            <p>Are you looking for a digital designer with more than a decade of enterprise experience and technical know-how? Send me an email, or connect with me on Linkedin.</p>
            {% include contact.html %}
        </div>
    </div>
</div>