---
layout: default
title: Accessibility
---
<div class="row primary">
    <div class="sub-heading">
        <div class="copy">
            <h2>Why Accessibility?</h2>
        </div>
    </div>
</div>
<div class="row secondary">
    <div class="img-left">
        <div class="copy">
            <h3>It benefits everyone.</h3>
            <p>There’s a good chance that each of us might experience disability, even if temporary, and as a result, exclusion. The colors and contrast may look fine on a large monitor in an office, but could be woefully insufficient outdoors in bright sunlight. By meeting minimum contrast requirements, you improve the experience for all users, regardless of ability.</p>
        </div>
        <div class="image end">
            <img alt="original pixel illustration of a hand holding a smart phone. There is obvious glare on the screen." src="/images/glare.png" width="200" height="234">
        </div> 
    </div>
</div>

<div class="row alternate">
    <div class="img-right">
        <div class="copy">
            <h3>It can save you money.</h3>
            <p>Considering accessibility from the beginning of your project can save a lot of headaches. Why burn money after the fact fixing accessibility issues? That money could be spent building the next new feature. Including inclusive design expertise in your design process results in experiences that are compliant, low-maintenance, and easily scaled.</p>  
        </div>
        <div class="image">
            <img alt="original pixel illustration of a dollar bill burning" src="/images/cashburn.png" width="200" height="213">   
        </div>
    </div>
</div>

<div class="row secondary">
    <div class="img-left">
        <div class="copy">
            <h3>It can make you money.</h3>
            <p>An estimated 1 in 5 of people has some form of disability. Wouldn’t you want 20% more customers? A non-sighted user who encounters a button that just says "Buy Now!" might be reluctant to click on it&mdash;not being sure what they are about purchase. Avoiding ambiguous link text and adding labels to inputs is crucial in making user flows simple and painless.</p>
        </div>
        <div class="image end">
            <img alt="original pixel art illustration of submit button that says buy now on it. There are dust particles and cobwebs on the button." src="/images/buynow.png" width="200" height="264">
        </div>
    </div>
</div>

<div class="row">
    <div class="img-right">
        <div class="copy">
            <h3>It’s not about disability, it’s about access.</h3>
            <p>People are not the only users of your site. A search engine is essentially a screen reader user. Optimizing your document structure, and including alternate content for images, can boost your SEO and benefit assistive technology users. </p>
        </div>
        <div class="image ">
            <img alt="original pixel art illustration of a broken image icon framed like art on a wall. There is an old lady looking on in somewhat disbelief" src="/images/alt.png" width="275" height="213">
        </div>
    </div>
</div>

<div class="row inverse">
    <div class="img-center">
        <div class="image">
            {% include avatar.html %}
        </div>
        <div class="copy">
            <h2>Do You Need an A11y?</h2>
            <p>I can help you make your products and services accessible to the widest possible audience! Contact me, and let's talk!</p>
            {% include contact.html %}
        </div>
    </div>
</div>