<div class="flex justify-center">
    <a class="flex flex-col items-center text-center mx-4 my-0 text-white" href="mailto: mike@kingpixel.com"  title="send email to mike@kingpixel.com"><img height="47" width="47" alt="" src="/images/email.png"/> mike@kingpixel.com</a> 
    <a class="flex flex-col items-center text-center mx-4 my-0 text-white" href="https://www.linkedin.com/in/mike-vogel" rel="noopener" title="View my profile on Linkedin"><img alt="" height="47" width="46" src="/images/linkedin.png"/> Linkedin/mike-vogel</a>
</div>