---
---

@import "{{ site.theme }}";

body,
h1, h2, h3, h4, h5, h6 
{
  font-family: San Franciso, Helvetica, sans-serif;
  font-weight: normal;
}

#header_wrap {
  background: #ff6600;
}

#project_title {
  color: #131313;
  text-shadow: none;
  a {
    color: #131313;
  }
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: none;
  border-bottom: 1px solid #111;
}
