---
layout: default
title: Portfolio
---
<div class="row primary">
    <div class="sub-heading">
        <div class="copy">
            <h2>Portfolio</h2>
        </div>
    </div>
</div>
{% for post in site.posts %}
  <div class="row {{post.bg}}">
    <div class="img-center">
        <div class="image resize">
            <img alt="{{post.alt}}" src="/images/work/{{post.thumbnail}}">
        </div> 
        <div class="copy">
            <small>{{post.tags}}</small>
            <h3>{{post.title}}</em></h3>
            <p> {{post.summary}}</p>
        </div>
    </div>
</div>  
{% endfor %}

<div class="row inverse">
    <div class="img-center">
        <div class="image">
            {% include avatar.html %}
        </div>
        <div class="copy">
            <h2>Let's Connect.</h2>
            <p>Are you looking for a digital designer with more than a decade of enterprise experience and technical know-how? Send me an email, or connect with me on Linkedin.</p>
            {% include contact.html %}
        </div>
    </div>
</div>